@media screen and (max-width: 1050px){
   .container-2 {
    width: 970px;
}
}
@media screen and (max-width: 780px){
   .container-2 {
    width: 750px;
}
}
@media screen and (max-width: 425px){
    .calling-info {
    display: block;
    float:none;
    height: 70px;
    border-left: none;
}
    .a-calling{
        float: right;
        width: 40%;
        display: inline-block;
    }
    .calling-info .calling-content {
    display: inline-block;
   width:60%;
}
.calling-info .calling-content .fa {

    padding: 0 4px;

}
    .total-inm{
        margin-left: 0px;
    }
    
    .container-2{
            width:400px;
    }
    .top-header {
    display: block;
    }
    .hentry:last-child {
 
    margin-bottom: 15px;
}

.img-banner{
    height:auto;
}
.individual .contenido {
    height: 280px;
}
.codigo{
        width: 100%;
    float: none;
}
.top-header-content {
    float: none;
    padding-right: 0px;
}
.top-header-content .content-item {
    padding: 3px 5px;
}
.top-header {
    height: 54px;
    margin-top: 2rem;
}
.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle .tooltip {
    opacity: 1;
    visibility: visible;
}
.gsearch .gsearch-wrap .gsearch-content .gsearch-action {
    margin-top: 10px;
}
.recent-properties.recent-properties-featured {
    padding: 70px 0 0px;
}
.recent-agents .hentry .agent-featured img {
    height: 200px;
}
.owl-carousel .owl-item img {
    
}
.property .property-share {

    margin-bottom: 10px;
}
.property .property-detail-content .detail-field .detail-field-label {

    text-align: left;

}
.detalle-caracteristicas {

    margin-left: 0px;

}
.row {
    margin-left: 0px;
    margin-right: -5px;
}
.contact-info .text-block>ul>li>b {
    margin-right: 3%;

}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 5px;
}
.contact-info {
    margin-bottom: 10px;
}
.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range {
    width: 93%;


}
.properties .hentry .property-featured .property-category-2 {
    left: 230px;
}
#tam-img{
    width: 100%;
    height: 300px;
}
}
@media screen and (max-width: 380px){
    .container-2{
            width:350px;
    }
    .top-header {
    display: block;
    }
    .hentry:last-child {
 
    margin-bottom: 15px;
}

.img-banner{
    height:130px;
}
.individual .contenido {
    height: 350px;
}
.codigo{
        width: 100%;
    float: none;
}
.top-header-content {
    float: none;
    padding-right: 0px;
}
.top-header-content .content-item {
    padding: 3px 1px;
}
.top-header {
    height: 60px;
}
.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range .noUi-handle .tooltip {
    opacity: 1;
    visibility: visible;
}
.gsearch .gsearch-wrap .gsearch-content .gsearch-action {
    margin-top: 10px;
}
.recent-properties.recent-properties-featured {
    padding: 70px 0 0px;
}
.recent-agents .hentry .agent-featured img {
    height: 200px;
}
.owl-carousel .owl-item img {
    
}
.property .property-share {

    margin-bottom: 10px;
}
.property .property-detail-content .detail-field .detail-field-label {

    text-align: left;

}
.detalle-caracteristicas {
    width: 45%;
    margin-left: 0px;

}
.row {
    margin-left: 0px;
    margin-right: -5px;
}
.contact-info .text-block>ul>li>b {
    margin-right: 3%;

}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 5px;
}
.contact-info {
    margin-bottom: 10px;
}
.gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group .gslider-range {
    width: 93%;

}
.properties .hentry .property-featured .property-category-2 {
    left: 230px;
}
}