@font-face
{
font-family: "ITCAvantGardeGothicBold12";
src: url("../fonts/FUENTES/ITC\ Avant\ Garde\ Gothic\ Demi/AvantGardeITCbyBT-Demi.ttf");
}
@font-face
{
font-family: "ITCAvantGardeGothicMedium13";
src: url("../fonts/FUENTES/ITC\ Avant\ Garde\ Gothic\ Med/ITCAvantGardeGothic-Medium12.ttf");
}
@font-face
{
font-family: "ITCAvantGardeGothicExtraLight8";
src: url("../fonts/FUENTES/ITC\ Avant\ Garde\ Gothic\ ExtLt/ITCAvantGardeGothic-ExtLt7.ttf");
}
@font-face
{
font-family: "CenturyGothic";
src: url("../fonts/Century Gothic.ttf");
}
body{font-family:"ITCAvantGardeGothicExtraLight8";font-size:16px;line-height:1.5;font-style:normal;font-weight:300}.wrap{width:auto;clear:both}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"ITCAvantGardeGothicBold12";font-style:normal;font-weight:400;line-height:1.1;color:#4d4d4d}h1,.h1,h2,.h2,h3,.h3{margin-top:24px;margin-bottom:12px}h4,.h4,h5,.h5,h6,.h6{margin-top:12px;margin-bottom:12px}h1,.h1{font-size:41px}h2,.h2{font-size:34px}h3,.h3{font-size:28px}h4,.h4{font-size:23px}h5,.h5{font-size:21px}h6,.h6{font-size:16px}a{-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}a:hover,a:focus{text-decoration:none}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    color:#4d4d4d
}
img{max-width:100%;height:auto;vertical-align:middle;border:0}.section-title h3{font-size:36px;line-height:40px;font-weight:100;text-transform:uppercase;margin:0 0 50px}p{margin:0 0 12px}iframe{max-width:100%}.form-control{font-family: "CenturyGothic";display:block;width:100%;height:50px;padding:6px 12px;font-size:16px;line-height:1.5;color:#555;background-color:#fff;background-image:none;border:1px solid #dedede;border-radius:4px;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none;-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.form-control:focus{outline:0}.content-thumb{display:block;position:relative}.noo-wrapper{background:#fff;z-index:99}.page-title{padding:0;margin-bottom:30px}.list-center{display:table;margin-left:auto;margin-right:auto}.noo-gap{width:100%;border-color:transparent;margin-left:0;margin-bottom:0}
@media screen and (min-width:768px){.modal-dialog{margin:70px auto 30px}}.top-header{height:30px;background:#f8f8f8;border-bottom:1px solid #e5e5e5}
@media screen and (max-width:991px){.top-header{display:none}}ul.social-top{float:left;list-style:none;padding-left:0;margin-bottom:0}ul.social-top>li{float:left;margin-left:1px}ul.social-top>li a{display:block;text-align:center}ul.social-top>li a i{width:29px;height:29px;font-size:16px;line-height:30px;color:#a5a5a5;background:#f2f2f2;border:0;border-radius:0;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}.top-header-inner{position:relative}.top-header-content{float:right;padding-right:30px}.top-header-content .content-item{float:left;border-right:1px solid #f3f3f3;padding:3px 20px}.top-header-content .content-item:last-child{border-right:0}.top-header-content .content-item a{font-size:14px;color:#a5a5a5}.top-header-content .content-item a .fa{font-size:14px}.top-header-content .header-search{position:absolute;top:0;right:0}.top-header-content .header-search input{width:30px;height:29px;padding:3px 0;text-indent:-999em;border-radius:0;border:none;font-size:14px;color:#a5a5a5;background:#f2f2f2;box-shadow:0 none;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}.top-header-content .header-search label{position:absolute;top:7px;right:9px;color:#a5a5a5;font-size:14px;line-height:1;cursor:pointer}.top-header-content .header-search input:focus{text-indent:0;width:200px;padding-left:10px;outline:none}.noo-header{background:#fff;border-bottom:1px solid #e5e5e5}
@media screen and (min-width:768px){.noo-header.affix{
    position:fixed;
    top:0;
    z-index:500;
    width:100%;
    background:#fff;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -o-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -ms-box-shadow:0 1px 2px rgba(0,0,0,.15);
    box-shadow:0 1px 2px rgba(0,0,0,.15);
    padding:0}}
@media screen and (max-width:991px){.noo-header.affix{position:relative}}.noo-header.affix .top-header{display:none}.noo-header.affix .navbar-header .logo .logo-image a{height:60px}@media screen and (max-width:991px){.noo-header.affix .navbar-header .logo .logo-image a{height:70px}}
@media screen and (max-width:991px){.noo-header.affix .main-navigation ul.navbar-nav>li>a{line-height:normal!important}}.noo-header.affix .main-navigation ul.navbar-nav>li>a{line-height:60px}.noo-header.affix .calling-info .calling-content .fa{font-size:42px}
@media screen and (min-width:992px){.noo-header.affix .calling-info .calling-content .fa{font-size:42px;padding:0 10.5px}}
@media screen and (min-width:1200px){.noo-header.affix .calling-info .calling-content .fa{font-size:48px;padding:0 15px}}.noo-header.affix .calling-info .calling-desc{font-size:13px;line-height:19px}
@media screen and (min-width:992px){.noo-header.affix .calling-info .calling-desc{font-size:13px;line-height:19px}}@media screen and (min-width:1200px){.noo-header.affix .calling-info .calling-desc{font-size:14px;line-height:1.3}}.noo-header.affix .calling-info .calling-desc a{font-size:19px}@media screen and (min-width:992px){.noo-header.affix .calling-info .calling-desc a{font-size:19px}}@media screen and (min-width:1200px){.noo-header.affix .calling-info .calling-desc a{font-size:22px}}@media screen and (min-width:992px){.noo-header.affix .calling-info{height:60px}}.navbar-header .logo{float:left}.navbar-header .logo .logo-image a{height:70px;width:163px;display:block;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;-ms-background-size:contain;background-size:contain}.navbar-header .logo .logo-image a img{position:relative;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);vertical-align:middle}.navbar-header{margin-right:0!important;margin-left:0!important}@media screen and (min-width:768px) and (max-width:991px){.navbar-header{width:70%;width:-webkit-calc( 100% - 200px );width:-moz-calc( 100% - 200px );width:calc( 100% - 200px );float:left}}.navbar-header .navbar-toggle{margin:16px 0}.navbar-header .navbar-toggle .icon-bar{-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}.navbar-header .navbar-toggle.collapsed .icon-bar{background:#777}.navbar-header .navbar-toggle.collapsed:hover .icon-bar{background:#515151}.navbar-toggle .icon-bar{height:4px}.navbar-toggle .icon-bar+.icon-bar{margin-top:3px}.calling-info{display:none;float:right;min-width:264px;height:70px;border-left:1px solid #e5e5e5;vertical-align:middle;font-size:16px;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}@media screen and (min-width:768px){.calling-info{display:table;min-width:11.5em}}@media screen and (min-width:1200px){.calling-info{display:table;min-width:18.5em}}.calling-info .calling-content{display:table-cell;vertical-align:middle}.calling-info .calling-content .fa{float:left;font-size:60px;line-height:1;padding:0 15px;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}@media screen and (min-width:768px){.calling-info .calling-content .fa{font-size:42px;padding:0 10.5px}}@media screen and (min-width:1200px){.calling-info .calling-content .fa{font-size:60px;padding:0 15px}}.calling-info .calling-desc{color:#c9c9c9;font-size:18px;line-height:27px;font-weight:400;padding:0;-webkit-transition:all .2s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}@media screen and (min-width:768px){.calling-info .calling-desc{font-size:13px;line-height:19px}}@media screen and (min-width:1200px){.calling-info .calling-desc{font-size:18px;line-height:27px}}.calling-info .calling-desc a{font-siz:  e27px;color:#2d313f}@media screen and (min-width:768px){.calling-info .calling-desc a{font-size:19px}}@media screen and (min-width:1200px){.calling-info .calling-desc a{font-size:20px}}.main-navigation ul.navbar-nav .open>.dropdown-menu{-webkit-animation:FadeAnimation .4s ease-out;-moz-animation:FadeAnimation .4s ease-out;-o-animation:FadeAnimation .4s ease-out;-ms-animation:FadeAnimation .4s ease-out;animation:FadeAnimation .4s ease-out}@-webkit-keyframes FadeAnimation{from{opacity:0}to{opacity:1}}@-moz-keyframes FadeAnimation{from{opacity:0}to{opacity:1}}@-o-keyframes FadeAnimation{from{opacity:0}to{opacity:1}}@-ms-keyframes FadeAnimation{from{opacity:0}to{opacity:1}}@keyframes FadeAnimation{from{opacity:0}to{opacity:1}}
@media screen and (min-width:992px){.main-navigation{float:initial}}
@media screen and (max-width:991px){.main-navigation{position:absolute;top:70px;left:auto;width:720px;padding:0;z-index:9999}}
@media screen and (max-width:767px){.main-navigation{left:0;width:100%;padding:0 15px;top:130px;}}.main-navigation ul.navbar-nav{margin-top:0;margin-bottom:0}@media screen and (max-width:991px){.main-navigation ul.navbar-nav{background:#fff}}.main-navigation ul.navbar-nav>li a{font-family:"ITCAvantGardeGothicMedium13";font-size:14px;font-style:normal;font-weight:300;color:#2d313f}.main-navigation ul.navbar-nav>li>a{line-height:normal;font-weight:700;background:0 0;padding:10px 12px}
@media screen and (min-width:992px){.main-navigation ul.navbar-nav>li>a{line-height:70px;font-weight:300;border:0;padding:0 20px}}.main-navigation ul.navbar-nav>li>a>.caret{display:none;vertical-align:top;border:0}
@media screen and (max-width:991px){.main-navigation ul.navbar-nav>li>a>.caret{float:right;width:auto;height:auto}}.main-navigation ul.navbar-nav>li>a>.caret:after{content:"\f107";font-family:FontAwesome}.main-navigation ul.navbar-nav .open>a,.main-navigation ul.navbar-nav .open>a:hover,.main-navigation ul.navbar-nav .open>a:focus{background:#f5f5f5;border-color:transparent}.main-navigation ul.navbar-nav>.open>a,.main-navigation ul.navbar-nav>.active>a{background:0 0!important}.main-navigation ul.navbar-nav>li li a{border-top:1px solid #f1f0f0;padding:7px 20px!important}.main-navigation ul.navbar-nav .dropdown-menu{min-width:200px;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;-webkit-box-shadow:2px 2px 6px rgba(0,0,0,.2);-moz-box-shadow:2px 2px 6px rgba(0,0,0,.2);-o-box-shadow:2px 2px 6px rgba(0,0,0,.2);-ms-box-shadow:2px 2px 6px rgba(0,0,0,.2);box-shadow:2px 2px 6px rgba(0,0,0,.2);padding:0;z-index:9999}.main-navigation ul.navbar-nav>li>.dropdown-menu{border:0}
@media screen and (max-width:991px){.main-navigation ul.navbar-nav>li>.dropdown-menu{border-top:0!important}.main-navigation ul.navbar-nav>li{float:none;clear:both;border-top:1px solid #ccc}.main-navigation ul.navbar-nav>li li a{border-top:1px solid #ccc}.main-navigation ul.navbar-nav .open>a,.main-navigation ul.navbar-nav .open>a:hover,.main-navigation ul.navbar-nav .open>a:focus{border-color:#ccc}.main-navigation ul.navbar-nav>li .dropdown-menu{position:relative;left:auto;right:auto;width:100%;border-top:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none;margin:0}.main-navigation ul.navbar-nav>li .dropdown-menu a{padding-left:20px!important;padding-right:20px!important}.main-navigation ul.navbar-nav>li .dropdown-menu .dropdown-menu a{padding-left:35px!important}.main-navigation ul.navbar-nav>li .dropdown-menu .dropdown-menu .dropdown-menu a{padding-left:50px!important}.main-navigation ul.navbar-nav>li li>a{padding:10px 12px!important}}.main-navigation ul.navbar-nav>li>.dropdown-menu:before{content:'';position:absolute;bottom:100%;left:35px;top:-10px;border-right:8px solid transparent;border-left:8px solid transparent}.main-navigation ul.navbar-nav>li>.dropdown-menu.dropdown-menu-right:before{left:auto;right:35px}
@media screen and (max-width:991px){.main-navigation ul.navbar-nav>li>.dropdown-menu:before{border:0}}.dropdown-submenu{position:relative}.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:8px;margin-left:-10px;border:0;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}.dropdown-submenu>.dropdown-menu.dropdown-menu-right{left:auto;right:100%;margin-right:-10px}.dropdown-submenu>a:after{font-family:FontAwesome;content:"\f105";float:right;margin-right:-5px}.footer{color:#f7f7f7}.footer a{color:#f5f5f5}.footer ul{list-style:none;padding:0;margin:0}.ft-col-title{font-size:16px;line-height:1.5;font-weight:900;color:#fff;margin:0 0 30px}
@media screen and (max-width:991px){.ft-col-title{margin-bottom:20px}}.footer .footer-nav{position:relative;padding:7% 0 3%}.footer .footer-nav:before{position:absolute;content:"";top:0;left:0;display:block;width:100%;height:100%;background-size:100%}.featured-property>ul>li{display:table;padding-bottom:20px}.featured-property>ul>li .featured-image{display:table-cell;vertical-align:top}.featured-property>ul>li .featured-image a{display:block;width:70px;height:auto;margin-right:20px}.featured-property>ul>li .featured-image a img{width:100%;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}.featured-property>ul>li .featured-decs{display:table-cell;vertical-align:top}.featured-property>ul>li .featured-decs .featured-status a{font-size:16px;}.featured-property>ul>li .featured-decs .featured-title{margin:0}.featured-property>ul>li .featured-decs .featured-title a{font-size:16px}.ft-useful-links .useful-links-menu>ul>li{border-bottom:1px solid rgba(245,245,245,.15);padding:5px 0}.ft-useful-links .useful-links-menu>ul>li:first-child{padding-top:0}.ft-useful-links .useful-links-menu>ul>li:last-child{border-bottom:0}.ft-useful-links .useful-links-menu>ul>li>a{display:block}.ft-contact-info ul.detail-contact-info>li{position:relative;background:rgba(0,0,0,.2);-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;padding:0;margin:10px 0}.ft-contact-info ul.detail-contact-info>li .fa{width:34px;top:0;bottom:0;height:100%;line-height:34px;background:rgba(0,0,0,.2);text-align:center;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-ms-border-radius:5px 0 0 5px;-o-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;margin-right:10px}
@media screen and (min-width:768px) and (max-width:991px){.footer .footer-nav .footer-nav-col:nth-child(1),.footer .footer-nav .footer-nav-col:nth-child(3){clear:both}}
@media screen and (max-width:991px){.footer .footer-nav .footer-nav-col{padding-bottom:30px}}.footer .copyright{position:relative;color:#aeaeae;padding:35px 0}
@media screen and (max-width:479px){.footer .copyright{padding:20px 0 20px}}.footer .copyright .text-block{font-size:14px}
@media screen and (min-width:480px) and (max-width:767px){.footer .copyright .text-block{width:50%}}
@media screen and (max-width:479px){.footer .copyright .text-block{text-align:center;padding-bottom:20px}}.footer .copyright .text-block span{font-size:12px}.footer .copyright a{color:#aeaeae}
@media screen and (min-width:480px) and (max-width:767px){.footer .copyright .logo-block{width:50%}}.footer .copyright .logo-image{text-align:left}
@media screen and (max-width:479px){.footer .copyright .logo-image{text-align:center}}.back-to-top{position: fixed;top:94%;left:90%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:.8;width:40px;height:40px;text-align:center;background-color:rgba(0,0,0,.15);-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;cursor:pointer;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease;padding:6px 0}
@media screen and (max-width:479px){.back-to-top{top:auto;bottom:0}}.back-to-top:hover{opacity:1;color:#2d313f;background:#fff}.boxed-layout{background:url("../images/patterns/random_grey_variations.png") repeat fixed left top #fff}.boxed-layout .site{position:relative;overflow:hidden;-webkit-box-shadow:0 0 7px rgba(0,0,0,.4);-moz-box-shadow:0 0 7px rgba(0,0,0,.4);-o-box-shadow:0 0 7px rgba(0,0,0,.4);-ms-box-shadow:0 0 7px rgba(0,0,0,.4);box-shadow:0 0 7px rgba(0,0,0,.4);padding:0;margin:0 auto}
@media(min-width:768px){.boxed-layout .site,.boxed-layout .noo-header{width:750px}}
@media(min-width:992px){.boxed-layout .site,.boxed-layout .noo-header{width:970px}}
@media(min-width:1200px){.boxed-layout .site,.boxed-layout .noo-header{width:1200px}}.dark-style{color:#b8b8b8}.dark-style h1,.dark-style h2,.dark-style h3,.dark-style h4,.dark-style h5,.dark-style h6,.dark-style h1 a,.dark-style h2 a,.dark-style h3 a,.dark-style h4 a,.dark-style h5 a,.dark-style h6 a,.dark-style .property .property-title{color:#cacaca}.dark-style .property .property-title small{color:#949494}.dark-style .navbar-header .logo .logo-image a{background-image:url("../images/logo/logo-dark-style.png")}.dark-style .noo-wrapper,.dark-style .top-header,.dark-style .noo-header{background:#222}.dark-style .top-header,.dark-style .top-header-content .content-item,.dark-style .calling-info,.dark-style .noo-header,.dark-style .main-navigation ul.navbar-nav>li li a,.dark-style .block-sidebar ul li,.dark-style .property .property-summary,.dark-style .property .property-feature,.dark-style .property .property-video,.dark-style .property .property-map,.dark-style .agent-property,.dark-style .blog-page .hentry,.dark-style .noo-control-group{border-color:#424242}@media screen and (min-width:992px){.dark-style .noo-mainbody .noo-mainbody-inner:before{background:#424242!important}}.dark-style ul.social-top>li a i{background:#303030}.dark-style .main-navigation ul.navbar-nav>li a,.dark-style .section-title h3{color:#e1e1e1}.dark-style .main-navigation ul.navbar-nav .dropdown-menu{background:rgba(54,54,54,.9)}.dark-style .main-navigation ul.navbar-nav>li li a:hover,.dark-style .main-navigation ul.navbar-nav .open>a{background:rgba(52,52,52,.6)}.dark-style .calling-info .calling-desc{color:#4c4b4b}.dark-style .calling-info .calling-desc a{color:#6c6c6c}.dark-style .search-box .gsearch,.dark-style .our-sevices .overlay,.dark-style .call-to-action .overlay{background:rgba(72,77,74,.95)}.dark-style .ft-col-title{color:silver}.dark-style .recent-properties .caroufredsel_wrapper .property-row .hentry .property-wrap .property-excerpt,.dark-style .featured-properties .caroufredsel_wrapper .hentry .property-wrap .property-excerpt,.dark-style .our-agents .caroufredsel_wrapper .hentry .agent-wrap .agent-excerpt{color:#333}.dark-style .our-sevices .our-sevices-content .our-sevices-col:hover .service-icon .fa{background:rgba(255,255,255,.4)}.dark-style .our-agents{background-image:url("../images/background/our-agents-bg-dark.png")}.dark-style .footer,.dark-style .footer a{color:#b8b8b8}.dark-style .footer a:hover{color:#f0e797}.dark-style .footer .footer-nav:before{background:rgba(39,39,39,.97)}.dark-style .footer .copyright{background:#2f2f2f}.dark-style .back-to-top{color:#b2b2b2;background:rgba(90,90,90,.9)}.dark-style .back-to-top:hover{color:#fff;background:rgba(200,200,200,.9)}.dark-style .content-featured{-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none}.dark-style .comment-img img{border:none}.dark-style .content-footer #author-bio,.dark-style .contact-info1,.dark-style .contact-map-form{background:#353535}.dark-style .content-footer #author-bio .author-avatar:after{border-right:20px solid #353535}.dark-style .noo-progress-bar.lean-bars .progress .progress_title,.dark-style .noo-progress-bar.lean-bars .progress .progress_label{color:#b8b8b8}.dark-style .noo-pie-chart .noo-pie-chart-value{color:#5a5555}.social-list{list-style:none;padding:0;margin:0}.social-list li{float:left}.social-list li+li{margin-left:8px}.social-list a{display:block;background:#eee;color:#a5a5a5;width:25px;height:25px;line-height:25px;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%}.social-list a:hover{color:#fff}.noo-mainbody{position:relative;padding-top:40px;padding-bottom:40px}.noo-mainbody.container-fluid{overflow:hidden;padding:0}@media screen and (min-width:992px){.page-right-sidebar .noo-mainbody .noo-mainbody-inner:before{display:none;position:absolute;content:"";top:0;right:-webkit-calc(33.3333% - 15px);right:-moz-calc(33.3333% - 15px);right:-o-calc(33.3333% - 15px);right:-ms-calc(33.3333% - 15px);right:calc(33.3333% - 15px);width:1px;height:100%;background:#e5e5e5}.page-left-sidebar .noo-mainbody .noo-mainbody-inner:before{display:block;position:absolute;content:"";top:0;left:-webkit-calc(33.3333% - 15px);left:-moz-calc(33.3333% - 15px);left:-o-calc(33.3333% - 15px);left:-ms-calc(33.3333% - 15px);left:calc(33.3333% - 15px);width:1px;height:100%;background:#e5e5e5}}.property 
.property-title{
    margin-bottom:30px;
    margin-top:0px;
    font-size:24px;
    font-weight:700;
    color:#4d4d4d;
    float:left
}
.property .property-title small{
    font-size:18px;
    font-weight:300;
    color:#4d4d4d;
    display:block;
    margin-top:12px
}
@media screen and (min-width:992px) and (max-width:1200px){.contact-info .text-block>ul>li>b{display:block;padding-bottom:5px}}
@media screen and (max-width:767px){.contact-info .text-block>ul>li>b{width:34%;padding-right: 0px}}.contact-desc .noo-gap,.contact-map-form .contact-desc-1 .noo-gap{border:none}.contact-desc .noo-gap{margin:30px 0 0}.contact-map-form .contact-desc-1 .noo-gap{margin:0}@media screen and (max-width:991px){.contact-map-form .contact-desc-1 form{padding-bottom:50px}}.contact-desc .form-control-wrap,.contact-desc-1 .form-control-wrap{display:block!important;width:100%!important;margin-bottom:24px}.contact-desc .form-control-wrap input,textarea,.contact-desc-1 .form-control-wrap input,textarea{font-size:16px;background:none repeat scroll 0 0 #fff;border-radius:3px;padding:8px;width:100%;height:50px}.contact-desc .form-control-wrap textarea,.s-profile-desc textarea{height:auto!important}.contact-desc .submit,.contact-desc-1 .submit{color:#fff;padding:5px 16px;margin-top:0;width:100%;border-radius:4px;border:1px solid transparent;text-transform:uppercase;font-weight:700;font-size:24px;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}.contact-desc .submit:hover,.contact-desc-1 .submit:hover{color:#fff}.noo-gmaps{position:relative}.noo-gmaps .map-overlay{position:absolute;top:0;left:0;width:100%;height:100%;z-index:100}.noo-gmaps iframe{max-width:100%;display:block;margin:0;padding:0;width:100%;position:relative}.contact-map-form{background-color:#f8f8f8;padding-top:0;padding-bottom:0}.contact-desc-1{padding-bottom:0;padding-left:85px;padding-top:90px;width:65%}.contact-info1{position:absolute!important;right:60%;top:150px;z-index:999;background:#f8f8f8;border:1px solid #eee;font-size:14px;padding:10px!important}.contact-info1 .text-block h4{font-weight:300;font-size:24px;margin-bottom:20px;margin-top:0}.contact-info1 .text-block ul{list-style:none;padding-left:0;margin-bottom:0}.contact-info1 .text-block ul li{line-height:180%}.contact-info1 .text-block ul li b{width:40%;text-align:right;padding-right:40px;display:inline-block}.contact-desc-1 .text-block h4{font-weight:300;font-weight:300;font-size:24px;margin-bottom:20px}.contact-desc-1 .form-control-wrap textarea{height:100%;max-height:150px}@media(max-width:991px){.contact-desc-1{padding-top:30px!important;padding-left:30px!important}.contact-info1{top:550px}}@media(max-width:767px){.contact-desc-1{width:100%;padding-top:30px!important;padding-left:30px!important}.contact-info1{right:20%;top:550px}}.noo-logreg .logreg-container{margin-left:auto;margin-right:auto;padding-left:15px;padding-right:15px}.noo-logreg .login-form,.noo-logreg .register-form{padding-top:80px;padding-bottom:20px;padding-left:5%;padding-right:5%}.noo-logreg.both .login-form>form{float:right}@media screen and (max-width:991px){.noo-logreg.both .login-form>form{float:none}}.noo-logreg .login-form>form,.noo-logreg .register-form>form{max-width:350px;margin-left:auto;margin-right:auto}.noo-logreg .logreg-title{font-size:24px;margin-bottom:15px}.logreg-content .form-group{position:relative}.logreg-content .form-group .form-control{font-size:16px;background:none repeat scroll 0 0 #fff;border-radius:3px;padding:8px;width:100%;height:50px}.noo-logreg .btn{width:100%;text-transform:uppercase;font-weight:700;font-size:24px;color:#bdb254;margin-top:0;margin-bottom:20px;padding:8px 16px;-webkit-transition:border-color color .2s ease;-o-transition:border-color color .2s ease;transition:border-color color .2s ease;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear}.noo-logreg .btn:hover{color:#fff;border-color:rgba(255,255,255,.1)!important}.noo-logreg.both .register-form{padding-bottom:120px;background:#f8f8f8;box-shadow:-6px -6px 12px 0 rgba(0,0,0,.1)}.noo-logreg.both .register-form>form{float:left}@media screen and (max-width:991px){.noo-logreg.both .register-form>form{float:none}}@media screen and (min-width:992px){.noo-sidebar .noo-sidebar-inner{padding-right:30px;padding-left:30px;margin-bottom:20px;}}.title-block-sidebar{color:#6c6c6c;font-size:24px;font-weight:300;line-height:1.5;margin:0 0 30px}.noo-sidebar .block-sidebar+.block-sidebar{margin-top:30px}.noo-sidebar ul{list-style:none;padding-left:0;margin-bottom:0}.block-sidebar ul li{border-bottom:1px solid #e5e5e5;padding:5px 0;line-height:1.5;color:#8e8e8e;font-weight:300}.block-sidebar ul li:first-child{padding-top:0}.block-sidebar ul li:last-child{border-bottom:0}.noo-sidebar .gsearch{position:relative;bottom:auto;left:auto;background:#f9f9f9;padding:25px}.noo-sidebar .gsearch .gsearch-wrap{background:0 0}.noo-sidebar .gsearch .gsearch-wrap .gsearch-content{display:block;background-image:none}@media screen and (max-width:991px){.noo-sidebar .gsearch .gsearch-wrap .gsearch-content{background:#fff;padding:20px}}.noo-sidebar .gsearch .gsearch-wrap .gsearch-content .gsearch-field{width:100%;padding:20px 0}.noo-sidebar .gsearch .gsearch-wrap .gsearch-content .gsearch-action{display:block;width:100%;padding:0}.noo-sidebar .gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group{width:100%;padding:0}.noo-sidebar .gsearch .gsearch-wrap .gsearch-content .gsearch-field .form-group select{background-color:#fff}.noo-sidebar .gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn{width:100%;font-size:24px;color:#94a2a7;background:#ededed;padding:10px}.noo-sidebar .gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn:hover,.noo-sidebar .gsearch .gsearch-wrap .gsearch-content .gsearch-action .gsubmit .btn:focus{color:#fff}.search-field form{position:relative}.search-field form input{height:50px;box-shadow:none}.search-field form:before{position:absolute;right:0;text-align:center;top:0;width:50px;cursor:pointer;height:50px;line-height:50px;background:none repeat scroll 0 0 rgba(0,0,0,.56);color:#b8b8b8;content:"\f002";display:inline-block;font-family:fontawesome;font-style:normal;font-weight:400;text-decoration:inherit}.search-field form input:focus{-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none}.tagcloud a{margin:0 0 3px 0;color:#fff;background:#555;border-color:#555;line-height:1.5;display:inline-block;font-weight:400;cursor:pointer;white-space:nowrap;padding:6px 12px;border-radius:4px;border:1px solid transparent;font-size:12px!important;-webkit-transition:border-color color .2s ease;-o-transition:border-color color .2s ease;transition:border-color color .2s ease;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear}.tagcloud a:hover{color:#fff}.table-condensed{width:100%}.datepicker-inline{width:100%!important;border-collapse:collapse;border-spacing:0;background-color:#f8f8f8;max-width:100%;margin-bottom:20px;width:100%;position:relative;font-size:16px;border-radius:3px}.table-condensed>thead>tr{border-bottom:1px solid #e5e5e5}.table-condensed>thead>tr:last-child>th{font-weight:300}.table-condensed tr th.datepicker-switch{border-color:#f8f8f8;border-style:solid;border-width:1px 1px 0;font-size:16px;font-weight:300;padding:8px;text-transform:uppercase;background-color:#f8f8f8}.table-condensed tr td.today:hover{background-color:red}.table-condensed>thead>tr:last-child>th,.datepicker.dropdown-menu th,.datepicker.datepicker-inline th,.datepicker.dropdown-menu td,.datepicker.datepicker-inline td{padding:7px 0}.user-sidebar-menu .user-avatar img{display:block;margin-left:auto;margin-right:auto}.user-sidebar-menu .user-menu-links a i{margin-right:1em}.user-sidebar-menu .user-menu-links+.user-menu-links,.user-sidebar-menu .user-menu-submit{border-top:solid .0625em #ebebeb;-webkit-box-shadow:inset 0 .125em .125em -.125em #fff;box-shadow:inset 0 .125em .125em -.125em #fff}.user-sidebar-menu .user-menu-submit{padding:1.25em 1.5em}.user-sidebar-menu .user-menu-submit a{display:block;padding-top:12px;padding-bottom:12px;font-size:18px;line-height:24px;font-weight:700}.dashboard-sidebar-title{font-size:1.5em;font-weight:300;margin:50px 0 40px}.dashboard-sidebar .sidebar-content{padding:1.25em}.property-form .form-group .dropdown select,.subscription_post .form-group .dropdown select{width:100%;border:1px solid #e5e5e5!important;padding:5px;font-size:16px;line-height:1;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-appearance:none}.property-form .form-group .label-select,.subscription_post .form-group .label-select{position:relative}.property-form .form-group .label-select{background:#fff}.subscription_post .form-group .label-select{background:#f8f8f8}.property-form .form-group .label-select:before,.subscription_post .form-group .label-select:before{content:"";position:absolute;right:0;height:100%;width:50px;border:1px solid #e5e5e5;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-o-border-radius:0 4px 4px 0;-ms-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;pointer-events:none;z-index:10}.property-form .form-group .label-select:before{background:#fff}.subscription_post .form-group .label-select:before{background:#f8f8f8}.property-form .form-group .label-select:after,.subscription_post .form-group .label-select:after{content:"\f107";font-family:FontAwesome;line-height:1;position:absolute;top:16px;right:20px;pointer-events:none;z-index:11}.property-form .form-group .label-select select,.subscription_post .form-group .label-select select{position:relative;display:block;height:50px;font-size:16px;color:#2d313f;line-height:50px;background:0 0;border:1px solid #e5e5e5;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;overflow:hidden;cursor:pointer;padding:0 20px;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none}.subscription_post .btn{-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}input[type=checkbox]{border:1px solid #bbb;background:#fff;color:#555;clear:none;cursor:pointer;display:inline-block;line-height:0;height:14px!important;margin:-4px 4px 0 0;outline:0;padding:0!important;text-align:center;vertical-align:middle;width:14px!important;-webkit-appearance:none;-webkit-transition:.05s border-color ease-in-out;transition:.05s border-color ease-in-out;background:#fbfbfb;position:relative}input[type=checkbox]:checked:before{content:"\f00c";position:absolute;float:left;display:inline-block;vertical-align:middle;width:16px;font-family:fontawesome;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;left:-2px;top:6px;font-size:12px}
#bsiguiente, #banterior{
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 50%;
    color: #606060;
    display: inline-block;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
  transition: 0.5s;
  margin-bottom: 10px;
  }
  
  #bsiguiente:hover, #banterior:hover{
    background: #7ab21f none repeat scroll 0 0;
    color: white;
  }
  
  #flechas{
    font-weight: 700;
    line-height: 40px;
  }

  .ft-contact-info ul.detail-contact-info>li .fab {
    width: 34px;
    top: 0;
    bottom: 0;
    height: 100%;
    line-height: 34px;
    background: rgba(0,0,0,.2);
    text-align: center;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    margin-right: 10px;
}

.ver-mas {
  line-height: 23px;
  width: 100px;
  text-align: center;
  color: #fff;
  background: #7ab21f;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  float: right;
  padding: 3px;
}

.container-2{
    width:1300px;
}

.top-subpages{
    top:56px;
}

#map {
  height: 400px;
}

.social-top2{
    margin-top:4px;
}

.detalle-caracteristicas {
    margin-left: 20px;
    width: 40%;
    float: left;
    list-style: outside;
}

.img-banner{
    width:100%;
    height:385px;
}

.codigo{
    padding: 0 15px;
    margin-bottom: 20px;
    float: left;
    width:10%;
}

.p1{
    font-family: "CenturyGothic"
}
div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url('../images/Preloader.gif') no-repeat center center;
}

.total-inm{
    margin-left: 20px;
}

#modalemail{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

#tam-img{
    width: 100%;
    height: 400px;
}
.property-label-2{
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 5px 8px;
    line-height: 1;
    color: #fff;
    background: #c5923a;
    font-weight: 550;
    border: 0px;
}

.btn-atras{
    width: 100px;
    height: 100px;
    line-height: 80px;
    background: rgba(255,255,255,.15);
    border: 10px solid rgba(0,0,0,.15);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    text-align: center;
    font-size: 30px
}

.btn-atras:hover{
    background: #005f68;
    border: 10px solid #7ab21f;
}
.options{
    vertical-align: top;
    display: inline !important; 
    font-size: 1.2em;
    padding: 0.5em;
}
.espacio_destacadas{
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.titulos{
    font-size: 36px;
    line-height: 40px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 0 50px;
}
.fondo_asesores{
    background: url(../images/background/our-agents-bg.png) repeat left top;
    padding: 80px 0;
}
.fondo_blanco_asesores{
    background: #fff;
    margin: 0 15px;
    height: 200px;
}
.fuente_asesor{
    font-family:"CenturyGothic";
    text-align: left;
}
.tamaño_buscador{
    max-width:1300px !important;
}
.contenedor_footer{
    max-width: 1170px !important;
}
.subir {
    display: none;
    padding: 13px 15px;
    background-color: rgba(0,0,0,.15);
    color: #005f68;
    font-size: 12px;
    cursor: pointer;
    position: fixed;
    bottom: 47px;
    border-radius: 50%;
    right: 20px;
    z-index: 38; 
    &:hover{
    background-color: white;
    color: black;
    }
}
.cont_img{
    object-fit:cover;
}
.tamaño{
    font-size: 82%;
}
.codigo{
    padding: 0 15px;
    margin-bottom: 20px;
    float: left;
    @media (max-width: 1140px){
        width:10%;
    }
    @media (max-width: 1024px){
        width:10%;
    }
    @media (max-width: 768px){
        width:18%;
    }
    @media (max-width: 425px){
        width:100%;
    }
    @media (max-width: 375px){
        width:100%;
    }
    @media (max-width: 250px){
        width:100%;
    }
}
.copy{
    @media (max-width: 1140px){
        text-align: inherit;
    }
    @media (max-width: 1024px){
        text-align: inherit;
    }
    @media (max-width: 768px){
        text-align: inherit;
    }
    @media (max-width: 425px){
        text-align: center;
    }
    @media (max-width: 375px){
        text-align: center;
    }
    @media (max-width: 250px){
        text-align: center;
    }
}

.calling-info{
    @media (max-width: 425px){
     display: block;
     float: none;
     height: 70px;
     border-left: none;
    }
    @media (max-width: 375px){
    display: block;
     float: none;
     height: 70px;
     border-left: none;
    }
}
.texto_descrip{
text-align: justify;
}
.mapa_detalle{
    @media (max-width: 1140px){
        display: none;
    }
    @media (max-width: 1024px){
        display: none;
    }
    @media (max-width: 768px){
        display: inherit;
    }
    @media (max-width: 425px){
        display: inherit;
       }
    @media (max-width: 375px){
        display: inherit;
    }
}
.pagination>li>a, .pagination>li>span{
    color:#4d4d4d !important;
    font-weight:bold;
}
.page-item.active .page-link{
    background-color:#7ab21f !important;
    color: white !important;
}
.collapse:not(.show){
    display: inherit !important;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
    background-color:#005f68;
    color:white !important;
}
.range-slider{
    margin-top: -22px;
}
